<div class="newbackgroundpicture">
<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1621178014/Image_about_white_in_IG_Highlights_icons_by_Giovanna_All_fekw5l.jpg", class="marmor"/>
</div>
<div class="newname">
<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1621182642/profilepic_adsvlc.png", class="profilbild"/>
</div>
<div class="newtitle">
<h1 class="title">Audrey Herber</h1>
</div>
<div class="newinformations">
<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1621185792/Sleep_information_m8ejpf.png", class="generalinfo"/>
</div>
<div class="telediv">
<a href="tel:352661410213"><h2 class="telephone">+352 661 410 213</h2></a>
</div>
<div class="email">
<a href="audrey.herber123@gmail.com"><h2 class="emailprec">audrey.herber123@gmail.com</h2></a>
</div>
<div class="newtitle">
<h1 class="title2">Programmes utilisés</h1>
</div>
<div class="newillustrations">
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
</div>